body {
	max-width:740px;
	margin:auto;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	overflow:hidden;
	background:url('/images/leather2.png');
	background-color: #0f0604;
	color:#300202;
}
.red {
	color:red;
}
.itsoff {
	font-size:.8rem;
	color:#222;
	font-weight:300;
	margin-top:7px;
} 
.pr-an {
	margin:0 auto;
	width:36px;
	height:36px;
}
.butt66 {
	width:66px;
	margin-top:2px;
}
.pr100 {
	width:100px;
	height:100px;
	margin: 0 48px;
}
.bb {
	border-bottom:1px solid #ddd;
	padding-bottom:100px;
}
.bt {
	margin-top:100px;
	border-top:1px solid #ddd;
	padding-top:36px;
}
.bm60 {
	padding-bottom:60px;
}
.pointeightem {
	font-size:.8em;
}
.tb24 {
	margin:24px 0;
}
.bgbase {
	background-color: #fff9e6;
	margin:auto;
	font-style:italic;
}
.br24 {
	border-radius:24px;
}
.br6 {
	border-radius:6px;
	border:1px solid #381d08;
}
#lp {
	margin-bottom:72px;
}
.bsp6 {
	border-radius:6px;
	border:1px solid #d7d2ce;
}
.bgbase.bsp6 {
	padding:0 6px;
}
.navhome {
	color: #440303;
	font-weight:800;
}
.oc {
	 color:#355935;
}
.onepoint4rem {
	font-size:1.4rem;
}
.bigdeal {
	font-size:1.2em;
	font-weight:600;
	color:#440303;
	font-style:italic;
}
#locatetext {
	border-top:1px solid #440303;
	padding-top:12px;
	text-align:left;
	margin:12px 0 24px 0;
}
#button-search, #locator, #locatetopper {
	background:#fff;
	border:1px solid #440303;
}
#locator {
	font-size:.6em;
}
.mw100 {
	max-width:100%;
}
#locatetopper {
	text-align:center;
	position:relative;
	top:-24px
}
#locatetopperwrap {
	position:fixed;
	right: 48px;
	top:600px;
}
#formwrap {
	text-align:center;
}
.threeem {
	font-size:3em;
}
.novis {
	visibility:hidden;
}
.pb-0 {
	padding-bottom:0;
}
.linktous {
	position:relative;
	top:-6px;
	text-align:center;
	font-size:1.2rem;
	font-style:italic;
	font-weight:600;
	margin:12px 0;
	color:#440303;
}
.columnwrap {
	text-align:center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);gap: 8px;
} 
#ta2, #ta1 {
	 width:85%;
	 height:100px;
}
#buttons {
	text-align:center;
	padding-top:24px;
	clear:both;
}
#rings {
	margin-top:8px;
	text-align:center;
	vertical-align:bottom;
	padding-bottom:32px;
	clear:both;
} 
#announcer {
	width:350px;
	max-height:75px;
	border:none;
}
.va-m {
	 vertical-align:middle;
}
.mr-12 {
	margin-right:12px;
}
.searchwrap {
	 padding-right:18px;
	 /*margin-top:12px;*/
}
.searchwrap-p {
	padding-right:18px;
	margin-top:36px;
}
.welcome-one {
	line-height:1.2em;
	font-size:1em;
}
.welcome-two {
	line-height:1.2em;
	font-size:1em;
	margin-top:-6px;
}
.bulltype {
	color:#440303;
	font-weight:600;
}
.center {
	text-align:center;
}
.point9em {
	font-size:.9em;
}
.point85em {
	font-size:.85em;
}
.td-none {
	text-decoration:none;
}
.pt-9 {
	padding-top:9px;
}
.bsc-one {
	font-size:.8em;
	font-weight:500;
	color:#2c526a;
	position:relative;
	top:-7px;
} 
.bsc-two {
	font-size:.8em;
	font-weight:500;
	color:#2c526a;
	position:relative;
	top:-14px;
}
.pu-1 {
	 font-size:1.3em;
	 border:2px solid #4a88b1;
	 border-radius:4px;
	 position:relative;
	 top:12px;
}
.pu-2 {
	position:relative;
	top:-3px;
}
.popupcap {
	font-size:.65em;
	font-weight:500;
	color:#2c526a;
	position:relative;top:7px;
}
.pride25 {
	width:66px;
	margin-top:2px;
}
.fw500 {
	font-weight:500;
}
.fw400 {
	font-weight:400;
}
.ta-l {
	text-align:left;
}
.fw700 {
	 font-weight:700;
}
#sidecar {
	font-size:.85em;
}
.nodisplay {
	display:none;
}
.offby {
	font-size:.8em;
	color:#222;
}
#miscri2 {
	font-size:.85em;
	margin:1.5em auto 0 auto;
}
.mini-hub {
	margin:4px;
	max-width:20px;	
} 
.mini-mast {
	margin:4px 0;
	max-width:17px;
}
.mini-mat {
	 max-width:20px;
	 position:relative;
	 top:-4px;
	 margin-left:5px;
}
.mini-gh {
	max-width:20px;
	margin:4px;
}
.bizfree-sep {
	text-align:center;
	margin:-12px 0 24px 0;
	border-top:1px solid #ddd;
} 
.hometop-one {
	text-align:center;
	margin-bottom:18px;
	font-size:.85em;
}
.hometop-two {
	text-align:center;
	margin-top:48px;
	font-size:.85em;
}
.latest-dash {
	 border-bottom:1px dashed #3e5018;
	 padding-bottom:3px;
	 font-size:1.1em;
}
.latest-rss {
	 max-width:14px;
	 margin:4px;
	 vertical-align:middle;
}
.latest-gh {
	 max-width:18px;
	 margin:4px;
	 vertical-align:middle;
}
.latest-wrap {
	margin:36px 12px 6px 24px;
}
.namewrap {
	 margin-top:18px;
	 color:#440303;
}
.ewrap {
	 position:relative;
	 top:-12px;
}
.metawrap {
	position:relative;
	top:-4px;
}
.newsmetawrap {
	position:relative;
	top:-8px;
	line-height:1em;
	margin-bottom:-2em;
}
.mt-minus28 {
	margin-top:-28px;
}
.mtm-18 {
	margin-top:-18px;
}
.mt-minus12 {
	margin-top:-12px;
}
.mt-minus6 {
	margin-top:-6px;
}
.mb-48 {
	margin-bottom:48px;
}
.mb-4 {
	margin-bottom:4px;
}
.mb-36 {
	margin-bottom:36px;
}
.mt-72 {
	margin-top:72px;
}
.mt-48 {
	 margin-top:48px;
}
.mt-24 {
	margin-top:24px;
}
.mt-12 {
	margin-top:12px;
}
.mt-15 {
	margin-top:15px;
}
.mt-2 {
	margin-top:2px;
}
.mt-6 {
	margin-top:6px;
}
.mt-9 {
	margin-top:9px;
}
.mt-onepointfiveem {
	margin-top:1.5em;
}
.w88 {
	width:88px;
}
.ml-22 {
	 margin-left:22px;
}
.playwrap {
	text-align:center;
	margin:18px auto;
}
.homeprefoot {
	margin:36px 0 24px 0;
} 
#indiewebring {
	margin-top:1px;
	font-size:.85em;
	font-weight:500;
	width:100%;
	padding-top:12px;
	text-align:center;
} 
#navlink {
	text-align:center;
	position:relative;
	left:-8px;
	margin-top:1.5em;
} 
.navlinkframe {
	 border:none;
	 margin-top:12px;
	 position:relative;
	 left:8px;
}
.navlinkspan {
	font-size:.85em;
	margin-top:1.5em;
	color:#7f676c;
} 
#respect {
	width:100px;
}
#load-note {
	text-align:center;
	border: 1px solid #a28181;
	border-radius:6px;
	font-size:.8rem;
	margin:0 auto -12px auto;
	background-color:#440303;
	color:white;
	font-weight:500;
	padding:3px 0;
}
#littlenav {
	margin:3px 0 12px 0;
	font-size:.8em;
}
#littlenav a {
	border:1px solid #c7b3b3;
	padding:0 4px 3px 4px;
}
/*#mutuals {
	padding-left:6px;
}*/
.postnav {
	display:flex;
	font-size:.75em;
	font-weight:400;
	margin:18px 0;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.fifty {
	width:50%;
}
.right {
	text-align:right;
}
.mb-twentyfour {
	margin-bottom: 24px;
}
.iwtbanner {
	width:200px;
}
.ninerem {
	font-size:.9rem;
}
.iwt {
	position:relative;
	float:right;
	margin:4px 18px 0 9px;
	padding-left:2px;
	padding-bottom:9px;
	text-align:center;
}
.iwt-b {
	width:272px;
	margin:24px auto 30px auto;
	padding:1px;
	border-radius:6px;
	line-height:1px;
}
.iwt-b img {
	margin:1px;
	max-width:66px;
}
.iwt-b img.odd {
	transform:skewY(3deg);
}
.iwt-b img.even {
	transform:skewY(-3deg);
}
.iwt-p {
	position:relative;
	float:right;
	margin:18px 18px 0 9px;
	padding-left:2px;
	padding-bottom:9px;
	text-align:center;
}
.left18 {
	position:relative;
	left:18px;
}
.button-fix {
  	min-width:88px;
  	max-height:31px;
} 
#rating {
	border:none;
	width:70px;
}
#rating a img {
	border:none;
}
#buttonwall-home .button {
	float:left;
}
.home-bhead {
	font-size:1em;
	font-weight:500;
	font-style:italic;
	text-align:center;
	padding:5px 32px 6px 0;
	margin:14px 0 14px -6px;
	clear:both;
}
.home-bhead-p {
	font-size:1em;
	font-weight:500;
	font-style:italic;
	text-align:center;
	padding:18px 32px 6px 0;
	margin:14px 0 14px -6px;
	clear:both;
}
.home-thanks {
	font-size:1.1em;
	font-weight:600;
	font-style:italic;
	text-align:center;
	padding:2px 32px 6px 0;
	margin:0 auto 0 -6px;
}
.link-bhead {
	font-size:1em;
	font-weight:500;
	font-style:italic;
	text-align:center;
	padding:12px 0 14px 0;
	margin-top:3px;
}
.link-thanks {
	font-size:1em;
	font-weight:600;
	font-style:italic;
	text-align:center;
	padding:2px 0 6px 0;
}
#slug {
	position:relative;
	float:right;
	margin:25px 6px 0 0;
}
#gb-container {
	clear: both;
	text-align: center;
}
#guestbook {
	width:400px;
	height:460px;
	margin-bottom: 24px;
	border:none;
	overflow:auto;
	max-width:100%;
	clear:both;
	display:inline;
}
.button {
	max-width:88px;
	margin:2px;
	float:left;
}
.button a:hover img, .iwt a:hover img, .iwt-b a:hover img, #dabutts a:hover img, #slug a:hover img, .div1 a:hover img, .div2 a:hover img, .div3 a:hover img, a.zoomy:hover img {
	transform: scale(1.1);
}
.pr-an a:hover img {
	transform: scale(2.8);
}
#play-gif img, #stop-gif img {
	width:65px;
	height:17px;
	border-radius:6px;
	border:1px solid #440303;
	box-shadow: 1px 1px #376f7f;
}
#play-gif img:hover, #stop-gif img:hover {
	transform: scale(1.1);
}
#play-gif, #stop-gif {
	width:65px;
	height:17px;
	background:none;
	border:none;
	position:relative;
	left:-6px;
}

#search-input {
	max-width:100%;
	padding:4px 9px;
	border: 1px solid #a3b8cc;
	border-radius:8px;
	background-color:#fff9e6;
	margin-bottom:1px;
	margin-left:2px;
	font-size:1em;
}
#result, #result2, #result3 {
	padding-top:18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:.9rem;
	font-weight:600;

}
#result p, #result p a, #result2 p, #result2 p a, #result3 p, #result3 p a {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:.9rem;
	font-weight:600;
}
#result li {
	list-style:none;
	text-indent:-30px;
}
#results-container {
	padding:12px 0;
	margin:12px 0;
}
#results-container li {
	list-style:none;
}
.gotalk {
	border-radius:4px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color:#fff;
	padding:1px;
	max-height:24.5px;
	vertical-align:middle;
}
#bfixer {
	width:90%;
	display:block;
	text-align:center;
	margin-left:46px;
}
#toggler, #my-channel {
	padding:0 18px 4px 18px;
	text-align:left;
	margin-bottom:9px;
	font-size:.95em;
}
#toggler {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-radius:0;
}

.p-spot {
	margin:18px auto 12px auto;
	width:100%;
}
h1 {
	font-size:1.4rem;
}
h2 {
	font-size:1.2rem;
}
h3 {
	font-size:1.15rem;

}
.spfloat {
	position:relative;
	float:right;
}

#motion {
	text-align:left;
	padding:12px 40px 12px 40px;
}
#commento {
	margin-top:48px;
	text-align:center;
}
#buttonwall {
	display:flex;
	background-color:#fdf9ec;
	background-image:url('/images/wall.png');
	font-size:.9em;
	text-align: center;
	border:1px solid #a28181;
	border-radius:10px;
	margin:18px auto 72px auto;
	padding:40px 58px;
	
}
#buttonwall-home {
	display:flex;
	background-color:#fdf9ec;
	background-image:url('/images/wall.png');
	font-size:.9em;
	text-align: center;
	border:1px solid #a28181;
	border-radius:10px;
	margin:18px auto 72px auto;
	padding:40px 42px 40px 53px;	
}

#colorclub {
	display:flex;
	background-color:#f5f3ee;
	font-size:.9em;
	text-align: center;
	border:1px solid #a28181;
	border-radius:10px;
	margin:18px 40px 72px 40px;
	padding:26px 48px 38px 48px;
}
#button-wall {
	text-align:center;
	margin:36px 50px;
	display:none;
}
p {
	line-height:1.4em;
}
#homecover {
	margin:18px auto 12px auto;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background:#330033;
	height:180px;
	text-align:center;
}
#homecover a:hover {
	background:none;
}
#homecover img {
	height:100px;
}
#cover {
	margin:18px auto 12px auto;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height:260px;
}
#cover img {
	width:278px;
}
#cover a:hover {
	background:none;
}
#container {
	display:flex;
	flex-direction:column;
	height:92vh;
	max-width:740px;
	margin-top:28px;
	background:#fff9e6;
	padding: 0 25px;
	border: 9px solid #30444c;
}
#container-sp {
	display:flex;
	flex-direction:column;
	height:94vh;
	max-width:740px;
	margin-top:24px;
	background:#fff9e6;
	padding: 0 25px;
	border: 9px solid #30444c;
}
#viewer-container {
	display:flex;
	flex-direction:column;
	height:90vh;
	max-width:100%;
	margin-top:24px;
	background-color:#fff9e6;
	padding: 0 25px;
}
#hcard-wrapper {
	text-align:center;
	width:100%;
}
#hcard-container {
	text-align:center;
	font-size:.9em;
	margin: -10px 190px 0 190px;
	border: 1px solid #440303;
	padding: 10px 0 10px 0;
	border-radius:10px;
	background:#fffefd;
}
.hcard-header p, .hcard-body p {
	line-height:1.2em;
	margin:0;
}
blockquote {
	/*font-style:italic;*/
	padding-left:18px;
	border-left:5px solid #ddd;
}
.note, p .note {
	font-size:.85em;
	line-height:1.4em;
	margin-top:-9px;
}
#page {
	width:100%;
	overflow:scroll;
}
#branding {
	width:100%;
}
#post-nav {
	display:flex;
	font-size:.75em;
	font-weight:400;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding-top:24px;
}
#latest #post-nav {
	display:none;
}
#core {
	margin-top:12px;
}
#wcb.carbonbadge {
	margin:9px 0 24px 0;
}
.gallery-container {
	text-align:center;
	
}
.gallery img, .image img {
	border: 1px solid #182300;
}
.gallery2 img, .image2 img {
	border: 1px solid #182300;
}
.goback {
	font-size:.9em;
	margin:30px 0;
}
h1 {
	color: #440303;
	margin-bottom:4px;
}
#menu {
	font-size: .85em;
	font-weight: 600;
	line-height: 1.7em;
	color:#3e5018;

}
#menu a {
	text-decoration:none;
	margin-right:8px;
	color:#386f7f;
}
#menu a:hover {
	background:#ffe5de;
}
div#menu ul {
	list-style:none;
	margin:0;
	padding:0;
	text-indent:0;
} 
#menu ul li {
	list-style:none;
	display:inline;
	margin-right: 8px;
}
a {
	font-weight: 500;
	text-decoration:none;
	color:#386f7f;
}
a:hover {
	background-color:#ffe5de;
}
div#layerNeko0 a:hover {
	background-color:transparent;
}
div#show-image {
	text-align:center;
}
div#show-image img {
	max-width:600px;	
}
div#show-cover {
	text-align:center;
}
div#show-cover img {
	max-width:600px;	
}
div#thefall, div#reasons {
	text-align:center;
	margin:30px 0;
}
div#thefall img {
	max-width:420px;
	max-height:315px;
}
div#reasons img {
	max-width:560px;
}
#turmoil-container {
	background:#000;
	max-width:484px;
	max-height:364px;
	border-left:1px solid #332255;
	margin-top:36px;
}
#turmoil {
	border:2px solid maroon;	
}
#turmoil img {
	width:480px;
	height:360px; 
}
#human-container {
	background:#fecc99;
	padding:72px;
	display:flex;
	justify-content:center;
}
#human {
	font-family:"Verdana", "Helvetica", "Arial", sans-serif;
	font-size:.8em;
	border:2px solid #999;
	height:242px;
	width:424px;
	text-align:left;
	background:#fff;
	padding:12px;
}
#human img {
	height:242px;
	width:196px;
}
.floater {
	position:relative;
	float:right;
}
.flexer {
	padding:100px 0;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer {
	width:100%;
	text-align:center;
	font-size:.8em;
	font-weight:400;
	clear:both;
	margin-bottom:12px;
	padding:8px 0 8px 0;
	position:relative;
	top:12px;
}
.j_footer {
	width:100%;
	text-align:center;
	font-size:.8em;
	font-weight:400;
	clear:both;
	margin-bottom:12px;
	padding:8px 0 8px 0;
	position:relative;
	top:12px;
}
#thanks {
	text-align:center;
	margin:0 auto;
}
#buttsep {
	clear:both;
	margin:0 4px 0 0;
	height:24px;
	border-top:3px double #29221c;
	position:relative;
	top:12px;
}
#others-pots, #mypot {
	padding-left:28px;
}
@media only screen and (max-width:768px) {
	#buttonwall {
		padding:40px 58px;
	}
	p.hideit, div.hideit {
		display:none;
	}
	#locatetopperwrap {
		right: 24px;
		top:800px;
	}
}
@media only screen and (max-width:679px) {
	#colorclub {
		padding: 12px;
	}
}
@media only screen and (max-width:600px) {
	#buttonwall {
		padding: 40px 34px;
	}
	#buttonwall-home {
		padding:14px 30px;
	}
	#mutuals {
	padding-left:3px;
}
	#others-pots, #mypot {
		padding-left:120px;
	}
	#locatetopperwrap {
		right: 10px;
		top:830px;
	}
	
}
@media only screen and (max-width:540px) {
	#buttonwall {
		padding: 40px 50px;
	}
	#buttonwall-home {
		padding: 14px 40px 14px 50px;
	}
	#colorclub {
		padding:26px 42px 38px 54px;
	}
	p.hideit, .announce {
		display:none;
	}
	#others-pots, #mypot {
		padding-left:80px;
	}
	#locatetopperwrap {
		right: 12px;
		top:700px;
	}
}
@media only screen and (max-width:479px) {
	body {
		font-size:18px;
	}
	#others-pots, #mypot {
		padding-left:28px;
	}
	.announce {
		display:block;
	}
	.home-bhead {
		margin-left:8px;
		padding-right:40px;
	}
	.home-thanks {
		margin-left:8px;
		padding-right:40px;
	}	
	#bfixer {
		max-width:92%;
	}
/*	.button {
		margin:1px;
	}*/
	#buttonwall-home {
		padding:40px 10px 40px 46px;
	}
	#play-gif, #stop-gif {
		position:relative;
		left:-12px;
	}
	#buttonwall {
		margin:18px auto 72px auto;
		padding:24px 48px 24px 48px;
	}
	#hcard-container {
		max-width: 85%;
		display: inline;
		border: none;
		margin:0;
	}
	.gotalk {
		max-height:22px;
	}
	.footer {
		margin:12px 0 12px 0;
	}
	#branding {
		padding-top:24px;
	}
	.spfloat {
		float:none;
	}
	#thanks {
		margin:0 auto;
	}
	div#nl {
		display:none;
	}
	#viewer-container {
		height:100vh;
		margin-top:0;
		padding: 0 3px;
	}
	#motion {
		padding:0 14px 12px 14px;
	}
	#commento {
		border:none;
		padding:24px 18px 36px 18px;
	}
	#buttons {
		margin-top:0;
	}
/*	#buttonwall .button {
		margin:1px;
	}*/
	#button-wall {
		text-align:center;
		margin:36px 20px;
	}
	.intersect a img {
		max-width:360px;
	}
	div#show-image img {
		max-width:390px;	
	}
	div#show-cover img {
		max-width:390px;	
	}
	#cover {
		height:200px;
	}
	div#thefall img, div#reasons img {
		max-width:100%;
		max-height:100%;
	}
	#turmoil {
		max-width:338px;
		max-height:254px;
	}
	#turmoil img {
		height:252px; 
		width:168px;
	}
	#human img {
		max-width:60px;
		max-height:72px;
	}
	#human-container {
		padding:12px;
	}
}
@media only screen and (max-width:440px) {
	#buttonwall {
		padding: 20px 26px 20px 46px;
	}
	#colorclub {
		padding:26px 36px 38px 36px;
	}
	#buttsep {
	margin:0 24px 0 0;
}
}
@media only screen and (max-width:430px) {
	#buttonwall {
		padding: 20px 40px;
	}
	#buttsep {
	margin:0 12px 0 0;
}
	#mutuals, #followers, #also {
		margin:0 6px 0 -6px;
	}
	#colorclub {
		padding:26px 36px 38px 36px;
	}
}
@media only screen and (max-width:428px) {
	#buttonwall {
		padding: 20px 40px;
	}
	#colorclub {
		padding:26px 30px 38px 38px;
	}
	#locatetopperwrap {
		right: 10px;
		top:810px;
	}
}
@media only screen and (max-width:414px) {
	#buttonwall {
		padding:24px 32px;
	}
	#buttonwall-home {
		padding:40px 0 40px 40px;
	}
	#buttsep {
	margin:0 24px 0 0;
}
/*	.link-bhead {
		margin-left:24px;
		padding-right:54px;
	}
	.link-thanks {
		margin:0;
		padding-right:40px;
	}*/
	.gallery img, .image img {
		max-width:110px;	
	}
	#colorclub {
		padding:26px 24px 38px 34px;
	}
	#page {
		overflow:hidden scroll;
	}
	#locatetopperwrap {
		right: 10px;
		top:810px;
	}
}

@media only screen and (max-width:390px) {
	#buttonwall {
		margin:18px auto 72px auto;
		padding:24px 22px;
	}
	#buttonwall-home {
		padding:40px 8px 40px 28px;
	}
	#buttsep {
		margin:0 12px 0 0;
	}
	#mutuals, #followers, #also {
		margin:0 7px 0 -7px;
	}
	.home-bhead {
		margin-left:24px;
		padding-right:12px;
	}
	.home-thanks {
		margin:0;
		padding-right:12px;
	}
/*	.link-bhead {
		margin-left:24px;
		padding-right:36px;
	}
	.link-thanks {
		margin:0;
		padding-right:22px;
	}*/
	.gallery img, .image img {
		max-width: 100px;
	}
	#colorclub {
		padding:26px 16px 38px 20px;
	}
	#locatetopperwrap {
		right: 12px;
		top:810px;
	}
}
