body {
	max-width:740px;
	margin:auto;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	overflow:hidden;
	background:url('/images/leather.png');
	background-color: #0f0604;
}
#rating {
	position:relative;
	float:right;
	border:none;
	width:70px;
	margin:96px 36px 0 -144px;
}
#rating a img {
	border:none;
}
#buttonwall-home .button {
	float:left;
}
.home-bhead {
	font-size:.9em;
	font-weight:500;
	font-style:italic;
	text-align:center;
	padding:5px 32px 6px 0;
	margin:14px 0 14px -6px;
	clear:both;
}
.home-bhead-p {
	font-size:.9em;
	font-weight:500;galle
	font-style:italic;
	text-align:center;
	padding:18px 32px 6px 0;
	margin:14px 0 14px -6px;
	clear:both;
}
.home-thanks {
	font-size:1em;
	font-weight:600;
	font-style:italic;
	text-align:center;
	padding:2px 32px 6px 0;
	margin:0 auto 0 -6px;
}
.link-bhead {
	font-size:.9em;
	font-weight:500;
	font-style:italic;
	text-align:center;
	padding:12px 0 14px 0;
	margin-top:3px;
}
.link-thanks {
	font-size:1em;
	font-weight:600;
	font-style:italic;
	text-align:center;
	padding:2px 0 6px 0;
}
#slug {
  position:relative;
  float:right;
  margin:25px 6px 0 0;
}
#gb-container {
	clear: both;
	text-align: center;
	position:relative;
	top:-48px;
}
#guestbook {
	width:400px;
	height:425px;
	/*margin-top:48px;
	margin-left:-106px;*/
	border:none;
	overflow:auto;
	max-width:100%;
	clear:both;
	display:inline;
}
.button {
	max-width:88px;
	margin:3px;
	/*position:relative;*/
	float:left;
	/*left:12px;*/
}
.button a:hover img, .iwt a:hover img, #dabutts a:hover img, #slug a:hover img, .div1 a:hover img, .div2 a:hover img, .div3 a:hover img {
	transform: scale(1.1);
}
#play-gif img, #stop-gif img {
	width:65px;
	height:17px;
	border-radius:6px;
	border:1px solid #440303;

}
#play-gif img:hover, #stop-gif img:hover {
	transform: scale(1.1);
}
#play-gif, #stop-gif {
	width:65px;
	height:17px;
	background:none;
	border:none;
	position:relative;
	left:-6px;
}

#search-input {
	max-width:100%;
	padding:4px 9px;
	border: 1px solid #a3b8cc;
	border-radius:8px;
	background-color:#fff9e6;
	margin-bottom:1px;
	margin-left:2px;
	font-size:1em;
}
#results-container {
	padding:12px 0;
	margin:12px 0;
}
#results-container li {
	list-style:none;
}
.gotalk {
	border-radius:4px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color:#fff;
	padding:1px;
	max-height:24.5px;
	vertical-align:middle;
}
#bfixer {
	width:90%;
	display:block;
	text-align:center;
	margin-left:46px;
}
#toggler, #my-channel {
	padding:0 18px 4px 18px;
	/*border: 1px solid #ddd;
	border-radius:0;*/
	text-align:left;
	margin-bottom:9px;
	font-size:.95em;
}
#toggler {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-radius:0;
}

.p-spot {
	margin:18px auto 12px auto;
	width:100%;
}
h1 {
	font-size:1.4rem;
}
h2 {
	font-size:1.2rem;
}
h3 {
	font-size:1.15rem;

}
.spfloat {
	position:relative;
	float:right;
}

#motion {
	text-align:left;
	padding:12px 40px 12px 40px;
}
#commento {
	padding:0 150px 36px 150px;
	margin-bottom:48px;
	margin-top:24px;
	/*border-top:1px dashed #e4d3d5;*/
}
#buttonwall {
	display:flex;
	background-color:#fdf9ec;
	background-image:url('/images/wall.png');
	font-size:.9em;
	text-align: center;
	border:1px solid #a28181;
	border-radius:10px;
	margin:18px auto 72px auto;
	
}
#buttonwall-home {
	display:flex;
	background-color:#fdf9ec;
	background-image:url('/images/wall.png');
	font-size:.9em;
	text-align: center;
	border:1px solid #a28181;
	border-radius:10px;
	margin:18px auto 72px auto;
	
}

#colorclub {
	display:flex;
	background-color:#f5f3ee;
	font-size:.9em;
	text-align: center;
	border:1px solid #a28181;
	border-radius:10px;
	margin:18px 40px 72px 40px;
	padding:26px 18px;
}
#button-wall {
	text-align:center;
	margin:36px 50px;
	display:none;
}
p {
	line-height:1.4em;
}
#homecover {
	margin:18px auto 12px auto;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*height:260px;*/
	background:#000;
	height:180px;
	text-align:center;
}
#homecover a:hover {
	background:none;
}
#homecover img {
	height:100px;
}
#cover {
	margin:18px auto 12px auto;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height:260px;
}
#cover img {
	width:278px;
}
#cover a:hover {
	background:none;
}
#container {
	display:flex;
	flex-direction:column;
	height:92vh;
	max-width:740px;
	margin-top:28px;
	background:#fff9e6;
	padding: 0 25px;
	border: 5px solid #66645c;
}
#container-sp {
	display:flex;
	flex-direction:column;
	height:94vh;
	max-width:740px;
	margin-top:24px;
	background:#fff9e6;
	padding: 0 25px;
}
#viewer-container {
	display:flex;
	flex-direction:column;
	height:90vh;
	max-width:100%;
	margin-top:24px;
	background-color:#fff9e6;
	padding: 0 25px;
}
#hcard-wrapper {
	text-align:center;
	width:100%;
}
#hcard-container {
	text-align:center;
	font-size:.9em;
	margin: -10px 190px 0 190px;
	border: 1px solid #440303;
	padding: 10px 0 10px 0;
	border-radius:10px;
}
.hcard-header p, .hcard-body p {
	line-height:1.2em;
	margin:0;
}
blockquote {
	font-style:italic;
	padding-left:18px;
	border-left:5px solid #ddd;
}
.note, p .note {
	font-size:.85em;
	line-height:1.4em;
	margin-top:-9px;
}
#page {
	width:100%;
	overflow:scroll;
}
#branding {
	width:100%;
}
#post-nav {
	display:flex;
	font-size:.75em;
	font-weight:400;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding-top:24px;
}
#latest #post-nav {
	display:none;
}
#core {
	margin-top:12px;
}
#wcb.carbonbadge {
	margin:9px 0 24px 0;
}
.gallery-container {
	text-align:center;
	
}
.gallery img, .image img {
	border: 1px solid #182300;
}
.gallery2 img, .image2 img {
	border: 1px solid #182300;
}
.goback {
	font-size:.9em;
	margin:30px 0;
}
h1 {
	color: #440303;
	margin-bottom:4px;
}
#menu {
	font-size: .85em;
	font-weight: 600;
	line-height: 1.7em;
	color:#3e5018;
}
#menu a {
	text-decoration:none;
	margin-right:8px;
	color:#3e5018;
}
#menu a:hover {
	background:#ffe5de;
}
div#menu ul {
	list-style:none;
	margin:0;
	padding:0;
	text-indent:0;
} 
#menu ul li {
	list-style:none;
	display:inline;
	margin-right: 8px;
}
a {
	font-weight: 500;
	text-decoration:none;
	color:#486860;
}
a:hover {
	background-color:#ffe5de;
}
div#layerNeko0 a:hover {
	background-color:transparent;
}
div#show-image {
	text-align:center;
}
div#show-image img {
	max-width:600px;	
}
div#show-cover {
	text-align:center;
}
div#show-cover img {
	max-width:600px;	
}
div#thefall, div#reasons {
	text-align:center;
	margin:30px 0;
}
div#thefall img {
	max-width:420px;
	max-height:315px;
}
div#reasons img {
	max-width:560px;
}
#turmoil-container {
	background:#000;
	max-width:484px;
	max-height:364px;
	border-left:1px solid #332255;
	margin-top:36px;
}
#turmoil {
	border:2px solid maroon;	
}
#turmoil img {
	width:480px;
	height:360px; 
}
#human-container {
	background:#fecc99;
	padding:72px;
	display:flex;
	justify-content:center;
}
#human {
	font-family:"Verdana", "Helvetica", "Arial", sans-serif;
	font-size:.8em;
	border:2px solid #999;
	height:242px;
	width:424px;
	text-align:left;
	background:#fff;
	padding:12px;
}
#human img {
	height:242px;
	width:196px;
}
.floater {
	position:relative;
	float:right;
}
.flexer {
	padding:100px 0;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer {
	width:100%;
	text-align:center;
	font-size:.8em;
	font-weight:400;
	clear:both;
	margin-bottom:12px;
	padding:8px 0 8px 0;
	position:relative;
	top:12px;
}
.j_footer {
	width:100%;
	text-align:center;
	font-size:.8em;
	font-weight:400;
	clear:both;
	margin-bottom:12px;
	padding:8px 0 8px 0;
	position:relative;
	top:12px;
}
#thanks {
	text-align:center;
	margin:0 auto;
}
#buttsep {
	clear:both;
	margin-top:136px;
	height:24px;
	border-top:3px double #29221c;
}

@media only screen and (min-width:768px) {
	#buttonwall-home {
		padding:40px 60px 40px 100px;
	}
	#buttonwall {
		padding:40px 62px;
	}
}
@media only screen and (max-width:679px) {
	#colorclub {
		padding: 12px;
	}
}

@media only screen and (max-width:600px) {
	#buttonwall {
		padding: 40px 38px;
	}
	#buttonwall-home {
		padding:14px 32px;
	}
}
@media only screen and (max-width:540px) {
	#buttonwall {
		padding: 40px 9px;
	}
	#buttonwall-home {
		padding:14px 3px;
	}
	#rating {
		width:60px;
		margin:96px 30px 0 -144px;
	}
}
@media only screen and (max-width:479px) {
	body {
		font-size:18px;
	}
	.home-bhead {
		margin-left:8px;
		padding-right:40px;
	}
	.home-thanks {
		margin-left:8px;
		padding-right:40px;
	}	
	#bfixer {
		max-width:92%;
	}
	.button {
		margin:1px;
	}
	#buttonwall-home {
		padding:40px 10px 40px 46px;
	}
	#play-gif, #stop-gif {
		position:relative;
		left:-12px;
	}
	#buttonwall {
		margin:18px auto 72px auto;
		padding:24px 54px;
	}
	#hcard-container {
		max-width: 85%;
		display: inline;
		border: none;
		margin:0;
	}
	.gotalk {
		max-height:22px;
	}
	#buttsep {
		/*margin-top:154px;*/
	}
	.footer {
		margin:12px 0 12px 0;
	}
	#branding {
		padding-top:24px;
	}
	.spfloat {
		float:none;
	}
	#thanks {
		margin:0 auto;
	}
	div#nl {
		display:none;
	}
	#viewer-container {
		height:100vh;
		margin-top:0;
		padding: 0 3px;
	}
	#motion {
		padding:0 14px 12px 14px;
	}
	#commento {
		border:none;
		padding:24px 18px 36px 18px;
	}
	#buttons {
		margin-top:0;
	}
	#buttonwall .button {
		margin:1px;
	}
	#button-wall {
		text-align:center;
		margin:36px 20px;
	}
	.intersect a img {
		max-width:360px;
	}
	div#show-image img {
		max-width:390px;	
	}
	div#show-cover img {
		max-width:390px;	
	}
	#cover {
		height:200px;
	}
	#cover img {
		/*max-width:60%;*/
	}
	div#thefall img, div#reasons img {
		max-width:100%;
		max-height:100%;
	}
	#turmoil {
		max-width:338px;
		max-height:254px;
	}
	#turmoil img {
		height:252px; 
		width:168px;
	}
	#human img {
		max-width:60px;
		max-height:72px;
	}
	#human-container {
		padding:12px;
	}
	#rating {
		width:48px;
		margin:96px 24px 0 -144px;
	}
}
@media only screen and (max-width:430px) {
	#buttonwall {
		padding: 20px 52px;
	}
	#rating {
		width:42px;
		margin:96px 18px 0 -144px;
	}
}
@media only screen and (max-width:428px) {
	#buttonwall {
		padding: 20px 52px;
	}
	#rating {
		width:36px;
		margin:96px 12px 0 -144px;
	}
}
@media only screen and (max-width:414px) {
	#buttonwall {
		padding:24px 46px;
	}
	#buttonwall-home {
		padding:40px 0 40px 40px;
	}
	.link-bhead {
		margin-left:24px;
		padding-right:54px;
	}
	.link-thanks {
		margin:0;
		padding-right:40px;
	}
	#buttsep {
		/*margin-right:44px;*/
	}
	.gallery img, .image img {
		max-width:110px;	
	}
}

@media only screen and (max-width:390px) {
	#buttonwall {
		margin:18px auto 72px auto;
		padding:24px 34px;
	}
	#buttonwall-home {
		padding:40px 10px 40px 30px;
	}
	.home-bhead {
		margin-left:24px;
		padding-right:12px;
	}
	.home-thanks {
		margin:0;
		padding-right:12px;
	}
	.link-bhead {
		margin-left:24px;
		padding-right:36px;
	}
	.link-thanks {
		margin:0;
		padding-right:22px;
	}
	.gallery img, .image img {
		max-width: 100px;
	}
	#rating {
		width:36px;
		margin:96px 8px 0 -144px;
	}
}
