<script>NekoType="marmalade"</script>
<div id="nl">
	<script src="https://webneko.net/n20171213.js"></script><a 
	href="https://bulltown.joejenett.com/">home</a>
</div>

<!-- <div id="branding"> -->
	<div id="slug">
		<a href="/"><img src="/images/slug.jpg" title="home" alt="" width="48"></a>
	</div>
	<h1><a style="color: #440303;font-weight:800;" href="/" title="home">bulltown<span style="color:#8b9675;">.2022</span></a></h1>
	<div id="menu">
		<a href="/">home</a>
		<a href="/archive/">journal archive</a>
		<a href="/images/">images</a>
		<a href="/img.select/">img.select</a>
		<a href="/covers/">covers</a>
		<a href="/words/">words</a>
		<a href="/other/">other</a>
		<a href="/guests/">guests</a>
		<a href="/music/">music</a>
		<a href="/pantson/">pantson&nbsp;color&nbsp;club</a>
		<a href="/rings/">rings</a>
		<a href="/links/">links</a>
		<a href="/webgarden/">webgarden</a>
		<a href="https://joejenett.com/">about</a>
		<a href="https://joejenett.com/contact/">contact</a>
		<span style="margin-left:8px;font-size:1.25em;"><a href="https://ideas.joejenett.com/">🌱</a></span>
	</div>
