<div id="lp">
<h2><a href="https://bulltown.joejenett.com/bulltown-linking-policy/">bulltown linking policy</a></h2>
<p>
May 14, 2025<br>
<small>(Clarified August 6, 2025)</small>
</p>
<p>
Hello friends. If you haven’t noticed, there’s a whole-lotta linking going on around here and I thought it would be useful to inform you as to what I’m doing - my linking policy if you will.
</p>
<p>
I consider anyone who follows bulltown at Neocities to be part of my neighborhood and include their (active) sites in the ‘neocities neighbors’ button walls found on the main pages of both versions of bulltown. Needless to say, I’d love you to include bulltown in your site’s neighborhood or on its links page. If you do, you’ll also be included in the ’mutuals’ sections of both versions of bulltown for as long as you continue linking to us.
</p>
<p>
Mutuals are prominently shown on both the main pages and links pages of both sites.
</p>
<p>
Why? I appreciate your interest.
</p>
<p>
Thanks,<br>
joe jenett
</p>
<p>
	Update 06/19/25: In rare cases, I may deviate from this policy when I feel it’s appropriate.
</p>
</div>