<div id="lp">
<h2><a href="https://bulltown.joejenett.com/bulltown-linking-policy/">bulltown linking policy</a></h2>
<p>
May 14, 2025
</p>
<p>
Hello friends. If you haven’t noticed, there’s a whole-lotta linking going on around here and I thought it would be useful to inform you as to what I’m doing - my linking policy if you will.
</p>
<p>
I consider anyone who follows bulltown at Neocities to be part of my neighborhood and include their (active) sites in the ‘neocities neighbors’ button walls found on the main pages of both versions of bulltown. Needless to say, I’d love you to include bulltown in your site’s neighborhood. If you do, you’ll also be added to the ’mutuals’ sections of both versions of bulltown.
</p>
<p>
The mutuals are prominently shown on both the main pages and links pages of both sites.
</p>
<p>
Why? I appreciate your interest.
</p>
<p>
Thanks,<br>
joe jenett
</p>
<p>
	Update 06/19/25: In rare cases, I may deviate from this policy when I feel it’s appropriate to do so.
</p>
</div>