			<div class="button" id="frills">
				<a title="Frills’s internet emporium" href="https://frills.dev/"><img src="/images/frills.png" alt="Frills’s internet emporium" width="88" height="31"></a>
			</div>
			<div class="button" id="melankorin">
				<a title="melankorin" href="https://melankorin.net/"><img src="/images/melankorin.gif" alt="melankorin" width="88" height="31"></a>
			</div>
			<div class="button" id="foreverlikethis">
				<a title="foreverliketh.is" href="https://foreverliketh.is/"><img src="/images/foreverlikethis.png" alt="foreverliketh.is" width="88" height="31"></a>
			</div>
			<div class="button" id="aywren">
				<a title="Aywren's Nook" href="https://aywren.com/"><img src="/images/aywren.gif" alt="Aywren's Nook" width="88" height="31"></a>
			</div>
			<div class="button" id="zeusofthecrows">
				<a title="zeus" href="https://zeusofthecrows.github.io/stadt/"><img src="/images/zeus-retro.gif" alt="zeus" width="88" height="31"></a>
			</div>
			<div class="button" id="swiftyshq">
				<a title="SWIFTY'S HQ!" href="https://swiftyshq.neocities.org/"><img src="/images/swifty2.gif" alt="SWIFTY'S HQ!" width="88" height="31"></a>
			</div>
			<div class="button" id="underwhite">
				<a title="Underwhite" href="https://underwhite.neocities.org/"><img src="/images/underwhite.gif" alt="Underwhite" width="88" height="31"></a>
			</div>
			<div class="button" id="waywardlamb">
				<a title="SUCH UNFORGIVEABLE HERESEY" href="https://waywardlamb.neocities.org/"><img src="/images/waywardlamb.png" alt="SUCH UNFORGIVEABLE HERESEY" width="88" height="31"></a>
			</div>
			<div class="button" id="caminus">
				<a title="Welcome to CAMINUS" href="https://caminus.neocities.org/"><img src="/images/caminusbutton.gif" alt="Welcome to CAMINUS" width="88" height="31"></a>
			</div>
			<div class="button" id="hitokage">
				<a title="hitokage" href="https://hitokage.neocities.org/"><img src="/images/hitokage.png" alt="hitokage" width="88" height="31"></a>
			</div>
			<div class="button" id="0helm">
				<a title="website schmebsite" href="https://0helm.neocities.org/"><img src="/images/schmebsite.png" alt="website schmebsite" width="88" height="31"></a>
			</div>
			<div class="button" id="wraithcastle">
				<a title="wraith castle" href="https://wraithcastle.neocities.org/"><img src="/images/wraithcastlebutton.gif" alt="wraith castle" width="88" height="31"></a>
			</div>
			<div class="button" id="tectrix">
				<a title="somewhere beyond the sea" href="https://tectrix.neocities.org/"><img src="/images/tectrix.gif" alt="somewhere beyond the sea" width="88" height="31"></a>
			</div>
			<div class="button" id="xsolimini">
				<a title="xsolimini's HQ" href="https://xsolimini.fr/"><img src="/images/xsoliminishq.gif" alt="xsolimini's HQ" width="88" height="31"></a>
			</div>
			<div class="button" id="philia995">
				<a title="the ether personified" href="https://philia995.neocities.org/"><img src="/images/phillia.png" alt="the ether personified" width="88" height="31"></a>
			</div>
			<div class="button" id="sclptures">
				<a title="𝑺𝑪𝑳𝑷𝑻𝑼𝑹𝑬𝑺" href="https://sclptures.neocities.org/"><img src="/images/sclptures.png" alt="𝑺𝑪𝑳𝑷𝑻𝑼𝑹𝑬𝑺" width="88" height="31"></a>
			</div>
			<div class="button" id="paintkiller">
				<a title="PAINTKILLER" href="https://ppaaiinnttkkiilleerr.neocities.org/"><img src="/images/paintkiller.png" alt="PAINTKILLER" width="88" height="31"></a>
			</div>
			<div class="button" id="wriorango">
				<a title="rango's web hell hole" href="https://wriorango.neocities.org/"><img src="/images/wriorango.png" alt="rango's web hell hole" width="88" height="31"></a>
			</div>
			<div class="button" id="yuros-nest">
				<a title="YuRo's Nest" href="https://yuros-nest.neocities.org/"><img src="/images/yuro.png" alt="YuRo's Nest" width="88" height="31"></a>
			</div>
			<div class="button" id="ridvenge">
				<a title="Ridvenge" href="https://ridvenge.neocities.org/"><img src="/images/ridvenge.gif" alt="Ridvenge" width="88" height="31"></a>
			</div>
			<div class="button" id="beaniepines">
				<a title="bean's DIY garden" href="https://beaniepines.neocities.org/"><img src="/images/bpdusk.gif" alt="bean's DIY garden" width="88" height="31"></a>
			</div>
			<div class="button" id="inthewreckage">
				<a title="in the wreckage" href="https://inthewreckage.neocities.org/"><img src="/images/inthewreckagebutton.png" alt="in the wreckage" width="88" height="31"></a>
			</div>
			<div class="button" id="lakestheguy">
				<a title="Lakes The Guy" href="https://lakestheguy.neocities.org/"><img src="/images/lakestheguy.png" alt="Lakes The Guy" width="88" height="31"></a>
			</div>
			<div class="button" id="flamingokid">
				<a title="YOU'LL DIG US!" href="https://flamingokid.neocities.org/"><img src="/images/flamingokid.png" alt="YOU'LL DIG US!" width="88" height="31"></a>
			</div>
			<div class="button" id="nyrestar">
				<a title="nyre's silly spot! v. 1.1" href="https://nyrestar.neocities.org/"><img src="/images/nyresbutton.gif" alt="nyre's silly spot! v. 1.1" width="88" height="31"></a>
			</div>
			<div class="button" id="benobii">
				<a title="Benobii's Homepage" href="https://benobii.neocities.org/"><img class="button-fix" src="/images/benobii.gif" alt="Benobii's Homepage" width="88" height="31"></a>
			</div>
			<div class="button" id="evilperson">
				<a title="M-M-MION!" href="https://evilperson.neocities.org/"><img src="/images/evilbutton.gif" alt="M-M-MION!" width="88" height="31"></a>
			</div>
			<div class="button" id="snails">
				<a title="(ﾐዋ ﻌ ዋﾐ)ﾉ" href="https://snails.neocities.org/"><img src="/images/snails.png" alt="(ﾐዋ ﻌ ዋﾐ)ﾉ" width="88" height="31"></a>
			</div>
			<div class="button" id="temina">
				<a title="Tem's Page" href="https://temina.neocities.org/"><img src="/images/temina.png" alt="Tem's Page" width="88" height="31"></a>
			</div>
			<div class="button" id="pieceofthepie">
				<a title="Piece of the Pie" href="https://pieceofthepie.online/"><img src="/images/pieceofthepie.gif" alt="Piece of the Pie" width="88" height="31"></a>
			</div>
			<div class="button" id="playmoar">
				<a title="THE ENGULFED CATHEDRAL | ⛪🔥" href="https://playmoar.neocities.org/"><img src="/images/playmoar.gif" alt="THE ENGULFED CATHEDRAL | ⛪🔥" width="88" height="31"></a>
			</div>
			<div class="button" id="maxcrunch">
				<a title="Maximum Crunch" href="https://maxcrunch.neocities.org/"><img src="/images/maximumcrunch.png" alt="Maximum Crunch" width="88" height="31"></a>
			</div>
			<div class="button" id="princss">
				<a title="the castle" href="https://princss.online/"><img src="/images/princss.png" alt="the castle" width="88" height="31"></a>
			</div>
			<div class="button" id="humanfinny">
				<a title="the human finny" href="https://humanfinny.neocities.org/"><img src="/images/humanfinny.gif" alt="the human finny" width="88" height="31"></a>
			</div>
			<div class="button" id="rini">
				<a title="Rini" href="https://rini.neocities.org/"><img src="/images/rini.gif" alt="Rini" width="88" height="31"></a>
			</div>
			<div class="button" id="arataka">
				<a title="ليث ريحـــــــان" href="https://arataka.moe/"><img src="/images/arataka.gif" alt="ليث ريحـــــــان" width="88" height="31"></a>
			</div>
			<div class="button" id="kopawz">
				<a title="ko's crag" href="https://kopawz.neocities.org/"><img src="/images/koscrag.gif" alt="ko's crag" width="88" height="31"></a>
			</div>
			<div class="button" id="jnkyrd">
				<a title="JNKYRD" href="https://jnkyrd.neocities.org/"><img src="/images/jnkyrd.gif" alt="JNKYRD" width="88" height="31"></a>
			</div>
			<div class="button" id="manyface">
				<a title="manyface world" href="https://manyface.neocities.org/"><img src="/images/manyface.png" alt="manyface world" width="88" height="31"></a>
			</div>
			<div class="button" id="bumblingbats">
				<a title="bumblingbats" href="https://bumblingbats.neocities.org/"><img src="/images/bbats.png" alt="bumblingbats" width="88" height="31"></a>
			</div>
			<div class="button" id="sodarain">
				<a title="‧₊˚✧sodarain✧˚₊‧" href="https://sodarain.neocities.org/"><img src="/images/sodarain.gif" alt="‧₊˚✧sodarain✧˚₊‧" width="88" height="31"></a>
			</div>
			<div class="button" id="theolivejar">
				<a title="The Olive Jar" href="https://theolivejar.neocities.org/"><img src="/images/olivejarbutton.gif" alt="The Olive Jar" width="88" height="31"></a>
			</div>
			<div class="button" id="cervidaze">
				<a title="cervidaze ☘" href="https://cervidaze.me/"><img src="/images/cervidaze.png" alt="cervidaze ☘" width="88" height="31"></a>
			</div>
			<div class="button" id="reduxflakes">
				<a title="ReduxFlakes" href="https://reduxflakes.neocities.org/"><img src="/images/reduxf.gif" alt="ReduxFlakes" width="88" height="31"></a>
			</div>
			<div class="button" id="jaysplace">
				<a title="Jay's Place" href="https://jaysplace.neocities.org/"><img src="/images/jaysplacebtn.png" alt="Jay's Place" width="88" height="31"></a>
			</div>
			<div class="button" id="acetrainermeg">
				<a title="The web site of acetrainermeg" href="https://acetrainermeg.neocities.org/"><img src="/images/acetrainermeg.gif" alt="The web site of acetrainermeg" width="88" height="31"></a>
			</div>
			<div class="button" id="owencompher">
				<a title="Owen" href="https://owencompher.me/"><img src="/images/owencompher.png" alt="Owen" width="88" height="31"></a>
			</div>
			<div class="button" id="shinyexe">
				<a title="jamie’s epic web zone" href="https://shinyexe.neocities.org/"><img src="/images/shinyexe.gif" alt="jamie’s epic web zone" width="88" height="31"></a>
			</div>
			<div class="button" id="lockheartlove">
				<a title="Lockheart Love" href="https://lockheartlove.neocities.org/"><img src="/images/lockheartlove.png" alt="Lockheart Love" width="88" height="31"></a>
			</div>
			<div class="button" id="swiftred">
				<a title="SwiftRed's Site" href="https://swiftred.neocities.org/"><img src="/images/swiftred.jpg" alt="SwiftRed's Site" width="88" height="31"></a>
			</div>
			<div class="button" id="moonpr1sm">
				<a title="moonpr1sm’s planet" href="https://moonpr1sm.neocities.org/"><img src="/images/moonpr1sm.png" alt="moonpr1sm’s planet" width="88" height="31"></a>
			</div>
			<div class="button" id="miou2192">
				<a title="<:-)" href="https://miou2192.com/"><img src="/images/miou2192.png" alt="<:-)" width="88" height="31"></a>
			</div>
			<div class="button" id="lankarta-project">
				<a title="Lankarta Project - Fictional Maps and More" href="https://lankarta-project.neocities.org/"><img src="/images/lankarta.gif" alt="Lankarta Project - Fictional Maps and More" width="88" height="31"></a>
			</div>
			<div class="button" id="spondulio">
				<a title="Sponduliocity" href="https://spondulio.neocities.org/"><img src="/images/spondbutton.gif" alt="Sponduliocity" width="88" height="31"></a>
			</div>
			<div class="button" id="7nonsense">
				<a title="7nonsense" href="https://7nonsense.neocities.org/"><img src="/images/7nonsense.gif" alt="7nonsense" width="88" height="31"></a>
			</div>
			<div class="button" id="gooooser">
				<a title="Gooser.net" href="https://gooooser.neocities.org/"><img src="/images/gooser22.gif" alt="Gooser.net" width="88" height="31"></a>
			</div>
			<div class="button" id="wiichicken">
				<a title="WiiCHiCKEN i AM AWESOME" href="https://wiggle.monster/"><img src="/images/wiichicken.gif" alt="WiiCHiCKEN i AM AWESOME" width="88" height="31"></a>
			</div>
			<div class="button" id="bytemoth">
				<a title="Bytemoth's (Astoundingly Effervescent) Brook" href="https://bytemoth.neocities.org/"><img src="/images/bytemoth.png" alt="Bytemoth's (Astoundingly Effervescent) Brook" width="88" height="31"></a>
			</div>
			<div class="button" id="strawberry-bunny">
				<a title="Strawberry Bunny" href="https://strawberry-bunny.neocities.org/"><img src="/images/strawberry.gif" alt="Strawberry Bunny" width="88" height="31"></a>
			</div>
			<div class="button" id="cherished-cat">
				<a title="ᓚᘏᗢ" href="https://cherished-cat.neocities.org/"><img src="/images/cherishedcat.png" alt="ᓚᘏᗢ" width="88" height="31"></a>
			</div>
			<div class="button" id="tfpxe">
				<a title="[tfpXE]" href="https://tfpxe.wtf/"><img src="/images/tfpxe1.gif" alt="[tfpXE]" width="88" height="31"></a>
			</div>
			<div class="button" id="bearlythere">
				<a title="bearly there" href="https://bearlythere.neocities.org/"><img src="/images/bearly.png" alt="bearly there" width="88" height="31"></a>
			</div>
			<div class="button" id="divergentrays">
				<a title="divergent rays" href="https://divergentrays.com/"><img src="/images/divergent.gif" alt="divergent rays" width="88" height="31"></a>
			</div>
			<div class="button" id="cherie">
				<a title="cherie" href="https://cherie.nekoweb.org/"><img src="/images/cherie.gif" alt="cherie" width="88" height="31"></a>
			</div>
			<div class="button" id="a-blue-in-a-sea-of-reds">
				<a title="A Blue in a Sea of Reds" href="https://a-blue-in-a-sea-of-reds.neocities.org/"><img src="/images/blue.png" alt="A Blue in a Sea of Reds" width="88" height="31"></a>
			</div>
			<div class="button" id="moshball">
				<a title="moshball's web <3" href="https://moshball.neocities.org/"><img src="/images/moshball.png" alt="moshball's web <3" width="88" height="31"></a>
			</div>
			<div class="button" id="sabrin">
				<a title="☆⌒(>。<)" href="https://sabrin.party/"><img src="/images/sabrinparty.gif" alt="☆⌒(>。<)" width="88" height="31"></a>
			</div>
			<div class="button" id="techrahouse">
				<a title="House of the Techramancer" href="https://techrahouse.neocities.org/"><img src="/images/techrahouse.png" alt="House of the Techramancer" width="88" height="31"></a>
			</div>
			<div class="button" id="sakuradreams">
				<a title="Sakura Dreams" href="https://sakuradreams.neocities.org/"><img src="/images/sakuradreams.gif" alt="Sakura Dreams" width="88" height="31"></a>
			</div>
			<div class="button" id="jackofall">
				<a title="Jako's Trades" href="https://jackofall.neocities.org/"><img src="/images/jako.gif" alt="Jako's Trades" width="88" height="31"></a>
			</div>
			<div class="button" id="chocolaterevel">
				<a title="Chocolate Revel" href="https://chocolaterevel.neocities.org/"><img src="/images/chocolaterevel.png" alt="Chocolate Revel" width="88" height="31"></a>
			</div>
			<div class="button" id="cageygames">
				<a title="CageyGames" href="https://cageygames.neocities.org/"><img src="/images/cageygames.png" alt="CageyGames" width="88" height="31"></a>
			</div>
			<div class="button" id="ancientcrypt">
				<a title="ANCIENTCRYPT" href="https://ancientcrypt.neocities.org/"><img src="/images/ancientcrypt.gif" alt="ANCIENTCRYPT" width="88" height="31"></a>
			</div>
			<div class="button" id="webmasterwebring">
				<a title="Webmaster Webring" href="https://webmasterwebring.netlify.app/"><img src="/images/wmwebring.png" alt="Webmaster Webring" width="88" height="31"></a>
			</div>
			<div class="button" id="indieseek">
				<a title="Indieseek.xyz Indie Web Directory" href="https://indieseek.xyz/"><img src="/images/indieseek.png" alt="Indieseek.xyz Indie Web Directory" width="88" height="31"></a>
			</div>
			<div class="button" id="theadlibclub">
				<a title="The Ad-Lib Club | Webring" href="https://theadlibclub.neocities.org/"><img src="/images/ad-lib.png" alt="The Ad-Lib Club | Webring" width="88" height="31"></a>
			</div>
			<div class="button" id="jaysplace-subdomains">
				<a title="Subdomain Sluts" href="https://jaysplace.neocities.org/subdomains/"><img src="/images/subdomains.png" alt="Subdomain Sluts" width="88" height="31"></a>
			</div>
			<div class="button" id="kalechips-responsive">
				<a title="Responsive Web Directory" href="https://kalechips.net/responsive/"><img src="/images/rwd.png" alt="Responsive Web Directory" width="88" height="31"></a>
			</div>
			<div class="button" id="pantson">
				<a title="Pantson Color Club" href="https://pantson.xandra.cc/"><img src="/images/pantson.png" alt="Pantson Color Club" width="88" height="31"></a>
			</div>
