			<div class="stamp" id="jamverse"><!-- a -->
				<a title="jamverse" href="https://jamverse.neocities.org/"><img src="/stamps/jamverse.gif" alt="jamverse" width="99" height="56"></a>
			</div>
			<div class="stamp" id="hisahito"><!-- a -->
				<a title="hisahito" href="https://hisahito.neocities.org/"><img src="/stamps/hisahito.gif" alt="hisahito" width="99" height="56"></a>
			</div>
			<div class="stamp" id="suzu-jack"><!-- a -->
				<a title="SUZU & JACK" href="https://frammyjammy.neocities.org/suzu-and-jack/"><img src="/stamps/snj-stamp.png" alt="suzu & jack" width="99" height="57"></a>
			</div>
			<div class="stamp" id="seashrine">
				<a title="in the sea of seven wonders" href="https://seashrine.neocities.org/"><img src="/stamps/seashrinestamp.gif" alt="in the sea of seven wonders" width="99" height="56"></a>
			</div>
			
			
			
			