<div class="stamprow">
	<div class="stamp" id="jamverse"><!-- a -->
		<a title="jamverse" href="https://jamverse.neocities.org/"><img src="/stamps/jamverse.gif" alt="jamverse" width="99" height="56"></a>
	</div>
	<div class="stamp" id="hisahito"><!-- a -->
		<a title="hisahito" href="https://hisahito.neocities.org/"><img src="/stamps/hisahito.gif" alt="hisahito" width="99" height="56"></a>
	</div>
	<div class="stamp" id="suzu-jack"><!-- a -->
		<a title="SUZU & JACK" href="https://frammyjammy.neocities.org/suzu-and-jack/"><img src="/stamps/snj-stamp.png" alt="suzu & jack" width="99" height="57"></a>
	</div>
	<div class="stamp" id="seashrine">
		<a title="in the sea of seven wonders" href="https://seashrine.neocities.org/"><img src="/stamps/seashrinestamp.gif" alt="in the sea of seven wonders" width="99" height="56"></a>
	</div>
	<div class="stamp" id="leomegasurf">
		<a title="SURFE-CIBERNETIKO!" href="https://leomegasurf.neocities.org/"><img src="/stamps/surfe.gif" alt="visit leomegasurf.neocities.org" width="99" height="56"></a>
	</div>
</div>
<div class="stamprow">
	<div class="stamp" id="kiririn42">
		<a title="kiririn42's website" href="https://kiririn42.neocities.org/"><img src="/stamps/yukilaptop2.jpg" alt="kiririn42's website" width="99" height="56"></a>
	</div>
	<div class="stamp" id="tropicalcritter">
		<a title="CritterWorld" href="https://tropicalcritter.neocities.org/"><img src="/stamps/tropicalcritter.png" alt="CritterWorld" width="99" height="56"></a>
	</div>
</div>
	
	
	
	
	
	
	
			
<!--			
			<div class="stamp" id="">
				<a title="" href=""><img src="/stamps/" alt="" width="99" height="56"></a>
			</div>
			

-->			
			
			
			