<!DOCTYPE HTML>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	
{%- include head.html -%}
<title>
bulltown.2022 |
{% if page.title == "" %}
{%- assign date_format = site.minima.date_format | default: "%m/%d/%y" -%}
{{ page.date | date: date_format }}
{%- endif -%}
{% if page.title != "" %}
{{ page.title | escape }}
{%- endif -%}
</title>
</head>
<body>
	<a id="top"></a>
	<div id="container">
		<div id="branding">
			{%- include header.html -%}
		</div>
		<!--main aria-label="Content"-->
		<div id="page">
			{{ content }}	 
		</div>
	</div>
	<script src="/js/freezeframe.min.js"></script>
</body>
</html>
