---
layout: default
---
<div id="homecover" style=""><a title="other covers" href="https://bulltown.2022.joejenett.com/covers/"><img class="freezeframe" src="/images/033199.gif" alt="other covers" width="278" height="100"></a>
</div>
<!--
	<div style="margin:0;border-top:1px dashed #7f676c;border-bottom:1px dashed #7f676c;text-align:center;color:#440303;font-size:1.4em;font-weight:600;padding-bottom:2px;">Happy New Year!
	</div>
-->
<div style="position:relative;float:right;margin:4px 9px 0 9px;padding-left:2px;padding-bottom:9px;text-align:center;z-index:1000;">
	<a href="/images/b22button.png" download="b22button"><img src="/images/b22button.png" alt="b22button" title="click to download and thanks for linking!" style="width:88px;margin-top:2px;"></a>
	<div style="font-size:.8em;">
	</div>
</div>
<p style="line-height:1.2em;font-size:1em;">
	Welcome to <span style="font-weight:600;">bulltown.<small>2022</small></span>, a remix of words and images, circa 1997-2004 plus other works <span style="font-size:.9em;font-style:italic;">(old and new)</span> of the same spirit.
</p>
<noscript>
	<p>
		Please enable JavaScript for full functionality.
	</p>	
</noscript>
			
<div class="announce">
	<iframe src="https://joejenett.com/announce/announce.html" style="width:350px;max-height:75px;border:none;"></iframe>
</div>
			
{{ content }}


<script src="/js/freezeframe.min.js"></script>
{%- include footer.html -%}	
</div>