---
layout: default
---
<script>document.title="𝗯𝘂𝗹𝗹𝘁𝗼𝘄𝗻.𝟮𝟬𝟮𝟮 | links"</script>


	<div class="linktous">link to us</div>
	<div class="columnwrap">
		<div class="div1 iwt">
			<a href="/images/b22button.png" download="b22button"><img src="/images/b22button.png" alt="b22button" title="click to download and thanks for linking!" class="w88 mt-2"></a><p><label for="ta1"><textarea id="ta1"><a title="bulltown.2022" href="https://bulltown.joejenett.com/"><img title="bulltown.2022" src="https://your-domain-please/b22button.png" alt="bulltown.2022" width="88" height="31"></a></textarea></label></p>
		</div>
		<div class="div2 iwt">
			<a href="/images/bulltown.png" download="bulltown"><img src="/images/bulltown.png" alt="bulltown" title="click to download and thanks for linking!" style="width:88px;margin-top:2px;" width="88" height="31"><p><span class="threeem">⬆︎</span><br>to link<br>to either URL</p></a>
		</div>
		<div class="div3 iwt">
			<a href="/images/b-n-button.png" download="b-n-button"><img src="/images/b-n-button.png" alt="b-n-button" title="click to download and thanks for linking!" class="w88 mt-2"><p><label for="ta2"><textarea id="ta2"><a title="bulltown.neo" href="https://bulltown.neocities.org/"><img title="bulltown.neo" src="https://your-domain-please/b-n-button.png" alt="bulltown.neo" width="88" height="31"></a></textarea></label></p></a>
		</div>
	</div>
	<div class="ta-l fw400">
		If you link to bulltown.2022 OR bulltown.neo from your personal, non-commercial site, please let me know so I can promptly add your linked button to the ‘mutuals’ on both bulltown sites. Thx.
	</div>
	<noscript>
		<p>
			Please enable JavaScript for full functionality.
		</p>	
	</noscript>
	<div id="locatetext">
		<p>
			Each button on the wall has a unique identifier and the form below allows you to quickly locate the row it’s in. Identifiers are primarily based on domain or subdomain names, with a few exceptions based on site names.
		</p>
		<p>
		After locating a button, click the square with the up-arrow on the right to return to the form.
	</p>
	<p>
		Optimized for desktop - on mobile, enter 4 or 5 characters before activating dropdown.
	</p>
	</div>
	<div id="bswrap" class="center">	
		<label for="button-search" class="point9em">locate a button by its identifier...</label><br>
		<input onchange='javascript:showbutt()' id="button-search" list="sitelist" name="site" placeholder="type a few characters" class="mt-9">
		<datalist id="sitelist">
			{%- include datalist.html -%}
		</datalist>	
		<button id="locator" onclick='javascript:showbutt()'> LOCATE </button>
	</div>

	<div id="locatetopperwrap">
		<button id="locatetopper" onclick='javascript:document.getElementById("bswrap").scrollIntoView();'> &#8593; </button>
	</div>
	
	<div id="buttons">
		<button id="play-gif"><img alt="" src="/images/playg.png" width="65" height="17"></button>
		<button id="stop-gif"><img alt="" src="/images/stopg.png" width="65" height="17"></button>
		<p class="offby">
			GIF animation is OFF by default (except on mouse hover).
		</p>
	</div>
	<div id="load-note">
		Please allow a few moments for buttons to fully load.<br>Reload page if it stalls. Thx.
	</div>

			
			
			
	<div id="buttonwall">

		<span class="freezeframe">
					
			<div class="link-thanks">thanks!
			</div>
			<div class="link-bhead">mutuals &amp; affiliations 
			</div>
			{%- include mutuals.html -%}
			<div id="buttsep">
			</div>
			<!--w-->					
			{%- include bigwall.html -%}
		</span>
	</div>
	{%- include linking.html -%}
	
	<div style="text-align:center;margin-top:-24px;">
		[<a href="/links/" onclick="javascript:window.location.href='/links/';">top</a>]
	</div>
	
{%- include footer.html -%}
<!--
<script src="/js/freezeframe.min.js"></script>
-->
<script>
	function showbutt() {
		var site = document.getElementById("button-search").value;
		document.getElementById(site).scrollIntoView();
	}
	function toTop() {
		document.getElementById("top").scrollIntoView();
	}
</script>	
