<link href="/css/embed.css" type="text/css" rel="stylesheet">	
<base target="_top">

<div class="home">
	<div class="pb-0">
		<span class="latest-dash">Latest from the <a style="text-decoration:none;" href="/archive/"><em class="fw700">b22 journal</em></a>: &nbsp; </span><a title="full content atom feed" href="https://bulltown.joejenett.com/feed.atom"><img class="latest-rss" src="/images/rss.png" alt="full content atom feed"></a>
	</div>
				{{ content }}
				<div class="post-list">
					{% assign count = 0 %}
					{%- for post in site.posts -%}
					{% assign count = count | plus:1 %}
					<!--{% if count == 1 %}
					{%- include postnav.html -%}
					{% endif %}-->
					{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

					<div class="latest-wrap">
						{%- if post.title != "" -%}
						<h2 class="post-title p-name namewrap">{{ post.title | escape }}</h2>
						{%- endif -%}
						{%- if site.show_excerpts -%}
						<div class="ewrap">{{ post.excerpt }}</div>
						{%- endif -%}
						<div class="newsmetawrap">
							<span class="post-meta"><a target="_top" href="{{ site.baseurl }}{{ post.permalink }}">{{ post.date | date: date_format }}</a></span>
							&bull; <span class="post-meta p-author h-card">joe jenett
							</span>
						</div>
					</div>
					{% if count == 1 %}{% break %}
					{% endif %}
					{%- endfor -%}
				</div>
			</div>
			
			<script src="/js/freezeframe.min.js"></script>