<link href="/css/embed.css" type="text/css" rel="stylesheet">	
<base target="_top">

<div class="home">
	<div style="padding-bottom:1em;">
		<span style="border-bottom:1px dashed #3e5018;padding-bottom:3px;font-size:1.1em;">Latest from the <a style="text-decoration:none;" href="/archive/"><em style="font-weight:800;color:#440303;">journal</em></a>: &nbsp; </span><a title="full content atom feed" href="https://bulltown.joejenett.com/feed.atom"><img src="/images/rss.png" alt="full content atom feed" style="max-width:14px;margin:4px;vertical-align:middle;"></a>
	</div>
				{{ content }}
				<div class="post-list">
					{% assign count = 0 %}
					{%- for post in site.posts -%}
					{% assign count = count | plus:1 %}
					<!--{% if count == 1 %}
					{%- include postnav.html -%}
					{% endif %}-->
					{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

					<div style="margin-bottom:24px;padding-bottom:6px;margin-right:12px;">
						{%- if post.title != "" -%}
						<h2 class="post-title p-name" style="margin-top:18px;color:#440303;">{{ post.title | escape }}</h2>
						{%- endif -%}
						{%- if site.show_excerpts -%}
						<div style="position:relative;top:-12px;">{{ post.excerpt }}</div>
						{%- endif -%}
						<div style="position:relative;top:-8px;line-height:1em;margin-bottom:-2em;">
							<span class="post-meta"><a target="_top" href="{{ site.baseurl }}{{ post.permalink }}">{{ post.date | date: date_format }}</a></span>
							&bull; <span class="post-meta p-author h-card">joe jenett
							</span>
						</div>
					</div>
					{% if count == 1 %}{% break %}
					{% endif %}
					{%- endfor -%}
				</div>
			</div>
			