---
layout: default-p
---
<!--
	<div class="iwt-p">
		<div class="playwrap">
		<button id="play-gif"><img alt="" src="/images/playg.png" width="65" height="17"></button>
		<button id="stop-gif"><img alt="" src="/images/stopg.png" width="65" height="17"></button>
	</div>
</div>
-->
<div class="searchwrap-p">
	<label for="search-input" class="nodisplay">search</label>
	<input type="text" id="search-input" placeholder="search the journal">
	<br>
	<div id="results-container"></div>
</div>

<div class="postnav">
	<div class="fifty">
		{% if page.previous.url %}
		&larr; <a href="{{ site.baseurl }}{{page.previous.url}}">previous</a>
		{% endif %}
	</div>
	<div class="fifty right">
		{% if page.next.url %}
		<a href="{{ site.baseurl }}{{page.next.url}}">next</a> &rarr;
		{% endif %}
	</div>
</div> 
{% if page.title != "" %}
<article class="h-entry post hentry" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h2 class="post-title p-name namewrap" itemprop="name headline"><a class="url u-url u-uid uid bookmark" href="https://bulltown.joejenett.com{{ page.permalink }}">{{ page.title | escape }}</a></h2>
	</header>
	<div class="post-content e-content mr-12" itemprop="articleBody">
		{{ content }}
	</div>
	<footer class="post-footer">
		<p class="post-meta metawrap">
			<span class="h-card">
				<a class="url u-url u-uid uid bookmark" href="https://bulltown.joejenett.com{{ page.permalink }}"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
					{{ page.date | date: date_format }}
				</time></a>
				{%- if page.author -%}• <span class="author p-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><a class="u-url url fn u-uid" href="https://bulltown.joejenett.com/" rel="author"><img alt="bulltown.2022" src="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=360&amp;d=default&amp;r=pg" srcset="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=180&amp;d=default&amp;r=pg 2x" class="u-photo photo va-m br6"  loading="lazy" width="24" height="24"></a> 
					<a class="url uid u-url u-uid fn p-name" rel="author" itemprop="url" href="/"><span class="p-author p-name" itemprop="name">{{ page.author }}</span></a>
				</span>
				{%- endif -%}
			</p>
		</span>
	</footer>
 {%- endif -%}

{% if page.title == "" %}
<article class="h-entry post hentry" itemscope itemtype="http://schema.org/BlogPosting">
	<div style="margin-right:12px;" class="post-content e-content" itemprop="articleBody">
		{{ content }}
	</div>
	<footer class="post-footer">
		<p class="post-meta metawrap">
			<span class="h-card">
				<a class="url u-url u-uid uid bookmark" href="https://bulltown.joejenett.com{{ page.permalink }}"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
					{{ page.date | date: date_format }}
				</time></a>
				{%- if page.author -%}• <span class="author p-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><a class="u-url url fn u-uid" href="https://bulltown.joejenett.com/" rel="author"><img alt="bulltown.2022" src="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=360&amp;d=default&amp;r=pg" srcset="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=180&amp;d=default&amp;r=pg 2x" class="u-photo photo va-m br6" loading="lazy" width="24" height="24"></a>
					<a class="url uid u-url u-uid fn p-name" rel="author" itemprop="url" href="/"><span class="p-author p-name" itemprop="name">{{ page.author }}</span></a>
				</span>
				{%- endif -%}
			</p>
		</span>
	</footer>
 {%- endif -%}



<script>
	$().ready(function(){
		$.getJSON( "https://webmention.io/api/links?target=https://bulltown.joejenett.com{{ page.permalink }}",
		function( mydata ) {
			console.log(mydata);
			var output = '';
			$.each(mydata.links, function(i, v) {
				if (v.target.search(new RegExp(/{{ page.slug }}/i)) != -1) {
						output = '<div style="margin:18px 0 9px 0;font-size:1rem;font-weight:600;">Reactions: </div>';
			}
			});
        		$.each(mydata.links, function(i, v) {
        		if (v.target.search(new RegExp(/{{ page.slug }}/i)) != -1) {
               		output += '<p class="ninerem"><a href="' + v.source + '"><img class="br24" src="' + v.data.author.photo + '" alt="webmention source" width="48" /><br>' + v.data.author.name + '</a></p> ';
               	}
    	});
    		output += ' ';
    		$('#result0').html(output);
		});	
	});
</script>
<div id="result0" class="mb-48"></div>


<div class="mb-36">
{%- if page.comments.host -%}
	{%- include fediverse_comments.html -%}
{%- endif -%}
</div>

<div class="postnav">
	<div class="fifty">
		{% if page.previous.url %}
		&larr; <a href="{{ site.baseurl }}{{page.previous.url}}">previous</a>
		{% endif %}
	</div>
	<div class="fifty right">
		{% if page.next.url %}
		<a href="{{ site.baseurl }}{{page.next.url}}">next</a> &rarr;
		{% endif %}
	</div>
</div> 


	<p><a class="u-url" href="https://bulltown.joejenett.com{{ page.permalink }}"><small>(permalink)</small></a></p>

	



</article>
<div class="mt-72">
{%- include j_footer.html -%}	
</div>
		<!--
			<script src="/js/simple-jekyll-search.min.js"></script>
		-->
			<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>
	<script>
		SimpleJekyllSearch({
			searchInput: document.getElementById('search-input'),
			resultsContainer: document.getElementById('results-container'),
			json: '/search.json',
			searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a> <small>({date})</small></li>',
			noResultsText: 'No results found',
			limit: 50,
			fuzzy: false,
			exclude: ['Welcome']
		})
	</script>
		