---
layout: default
---
<script>document.title="bulltown.2022 | stamplinks"</script>
  
	<div class="linktous">link to us<br><span style="font-size:.75em;font-weight:300;">(click stamp to download a copy)</span></div>
  	<div class="columnwrap">
		<div class="div1 iwt">
			<a href="/stamps/b22stamp.png" download="b22stamp"><img src="/stamps/b22stamp.png" alt="b22stamp" title="click to download and thanks for linking!" class="w99 mt-2"></a><p><label for="ta1"><textarea id="ta1"><a title="bulltown.2022" href="https://bulltown.joejenett.com/"><img title="bulltown.2022" src="https://𝖯𝗅𝖾𝖺𝗌𝖾 𝗌𝖺𝗏𝖾 𝖺 𝖼𝗈𝗉𝗒 𝖺𝗇𝖽 𝗂𝗇𝗌𝖾𝗋𝗍 𝖸𝖮𝖴𝖱 𝖽𝗈𝗆𝖺𝗂𝗇 𝗇𝖺𝗆𝖾/𝖸𝖮𝖴𝖱 𝖿𝗈𝗅𝖽𝖾𝗋 𝗇𝖺𝗆𝖾/b22stamp.png" alt="bulltown.2022" width="99" height="56"></a></textarea></label><br><small>𝖭𝗈 𝗁𝗈𝗍𝗅𝗂𝗇𝗄𝗂𝗇𝗀 𝗉𝗅𝖾𝖺𝗌𝖾</small>.</p>
		</div>
		<div class="div2 iwt">
			<a href="/stamps/bstamp.png" download="bstamp"><img src="/stamps/bstamp.png" alt="bulltown" title="click to download and thanks for linking!" class="w99 mt-2" width="99" height="56"></a><p><span class="threeem">⬆︎</span><br>to link<br>to either URL</p></a>
		</div>
		<div class="div3 iwt">
			<a href="/stamps/bneostamp.png" download="bneostamp"><img src="/stamps/bneostamp.png" alt="bneostamp" title="click to download and thanks for linking!" class="w99 mt-2"></a><p><label for="ta2"><textarea id="ta2"><a title="bulltown.neo" href="https://bulltown.neocities.org/"><img title="bulltown.neo" src="https://𝖯𝗅𝖾𝖺𝗌𝖾 𝗌𝖺𝗏𝖾 𝖺 𝖼𝗈𝗉𝗒 𝖺𝗇𝖽 𝗂𝗇𝗌𝖾𝗋𝗍 𝖸𝖮𝖴𝖱 𝖽𝗈𝗆𝖺𝗂𝗇 𝗇𝖺𝗆𝖾/𝖸𝖮𝖴𝖱 𝖿𝗈𝗅𝖽𝖾𝗋 𝗇𝖺𝗆𝖾/b-n-button.png" alt="bulltown.neo" width="99" height="56"></a></textarea></label><br><small>𝖭𝗈 𝗁𝗈𝗍𝗅𝗂𝗇𝗄𝗂𝗇𝗀 𝗉𝗅𝖾𝖺𝗌𝖾</small>.</p>
		</div>
	</div>
	
	
	<div id="buttons">
		<button id="play-gif"><img alt="" src="/images/playg.png" width="65" height="17"></button>
		<button id="stop-gif"><img alt="" src="/images/stopg.png" width="65" height="17"></button>
		<p class="offby">
			GIF animation is OFF by default, except on hover.
		</p>
	</div>
	
	<div id="stampwall">

		<span class="freezeframe">
			
			{%- include stampwall.html -%}
			
		</span>
		
	</div>
	
	
	{%- include footer.html -%}
<script src="/js/freezeframe.min.js"></script>